# Ignore everything by default
*

# Allow GitHub Pages essentials (root level) and google search console stuff
!.nojekyll
!index.html
!style.css
!legion_games.json
!legion_other_products.json
!README.md
!robots.txt
!sitemap.xml
!google0f65ad99c6d0ccc1.html
!llms.txt
!assets/
!assets/og-banner.png

# Allow .gitignore and .gitattributes
!.gitignore
!.gitattributes